---
permalink: /overlay/brb/
title: Back shortly
bodyClass: overlay--filled
tone: warning
banner: Paused
sub: Stepped away for a moment
lead: Not gone for long. Sound is still on if you want to shout.
---
{% include "partials/overlay-hold.njk" %}
